---
# tasks file for nginx


- name: install nginx 
  apt:
    name: nginx 
    state: present 
    update_cache: yes 
- name: enable nginx 
  service: 
    name: nginx 
    state: started 
    enabled: yes 