---
# tasks file for apache

- name: install apache 
  apt:
    name: apache2
    state: present 
    update_cache: yes 
- name: enable apache 
  service:
    name: apache2
    state: started
    enabled: yes 